.circularpickerwrapper {
  display: flex;
  align-items: center;

  .results {
    padding: 5px;
    vertical-align: middle;
    .timeRow {
      font-size: 0.8em;
    }

  }
  svg {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Leckerli One', cursive;
    order: 1;
  }
}

.results {
  p {
    margin: 5px;
  }
  .colorBlock {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.centerLabel {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 25px;
  fill: #A9A9B9;
}
.segment {
  text {
    font: 10px sans-serif;
    text-anchor: middle;
    cursor: pointer;
  }

  path {
    stroke: $theme-contrast-color;
    cursor: pointer;
  }
  &.weekend path {
  fill: $theme-color-extralight !important;
  }
  &.active path {
    cursor: pointer;
    stroke: $theme-contrast-color;
    fill: $theme-color-dark;
  }
  &.colorActive path {
    transform: scale(1.05);
  }
  &:hover path {
    opacity: 0.7
  }
  &.active:hover path {
    opacity: 0.9
  }
  .dayLabel {
    fill: $theme-color;
    text-anchor: middle;
    font-size: 0.9em;
    font-family: 'Leckerli One', cursive;
  }
}

.hourLabel {
  fill: $theme-color;
  font-size: 1.2em;
}
.minuteLabel {
  fill: grey;
  text-anchor: middle;
  font-size: 0.6em
}
.boundaryLine {
  stroke: $theme-color;
  stroke-width: 3
}