// Variables

$theme-color: #5d4560; //#74a796;
$theme-color-light: #8e7591; //#74a796;
$theme-color-extralight: #caa8cd; //#74a796;
$theme-color-dark: #523b55; //#74a796;
$links-color: #846c87;
$theme-contrast-color: #fff;
$borders-color: #ddd;
$circularTimepickers-color: #523b55; //#62a772;
$mini: screen and (max-width: 396px);
$extra-small: screen and (max-width: 576px);
$small: screen and (max-width: 768px); //and (min-width: 576px)
$medium:screen and (max-width: 992px); //and (min-width: 768px)
$large: screen and (max-width: 1200px); //and (min-width: 992px)
$extra-large: screen and (min-width: 1200px); 
